<div class="card"  *ngIf="membre">
    <div class="card-header">   
       <img [src]="membre.image" alt="Member Image">
        <div>
          <p>Nom : {{membre.lastName}}</p>
          <p>Prenom :{{membre.firstName}}</p>
        </div>
      </div>
      <div class="card-footer">
        <p>"Je me sens mieux quand je sais à quoi m'attendre"</p>
    </div>
    <div class="membre-card-button">
      <a routerLink="/quiz-list"><button (click)="selectMembre()">Select</button></a>
  </div>
    </div>

    
  
  