.profil-statistique {
    grid-column-start: 1 / span 1;
    width: 500px;
    height: 280px;
    border: 2px solid #FAA300;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 10px 0px #F4538A;
}


.card-left img {
    float: left;
    margin-left: 10px;
    height: 100%;
    width: 50%;
}

.profil-name {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.exp {
    margin-top: 70px;
    margin-left: 35px;
    width: fit-content;
    align-items: center;
    padding: 5px;
    border: 3px solid #F4538A;
    border-radius: 30px;
}

.time-played {
    display: block;
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
    border: 3px solid black;
    border-radius: 30px;
}