.add-card{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #FAA300;
    background-color: #59D5E0;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

.add-card .add{
    font-size: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    
}

.add-card .add:hover{
    background-color: #FAA300;
    color: #fff;
}
