.question {
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question img, .question video, .question audio {
    width: 900px;
    height: 400px;
    margin-top: 20px;
    border: 5px solid #000;
    border-radius: 15px;
}

.question h3 {
    font-size: 24px;
    text-align: center;
}

.question-answer{
    margin-left: 20px;
}

.question-answer .answer {
    width: 430px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;

    &.selected {
        background-color: #cddac7;
        border-color: #6ac562; 
      }
}

.question-answer .answer:hover :not(right-answer) {
    background-color: #ddd;
}

.wrong-answer {
    visibility: hidden;
}

.right-answer {
    background-color: rgb(120, 255, 120);

    &:hover {
        background-color: rgb(160, 255, 160);
    }
}