<app-navbar></app-navbar>

<div class="content" [ngClass]="{'nav-visible': isNavVisible}">

    <app-title></app-title>
    <div class="content-theme">
        <app-theme *ngFor="let theme of themeList" [theme]="theme" (themeSelected)="themeSelected($event)"
            (editTheme)="editTheme($event)" (themeToDelete)="addThemeToDelete($event)" [isDisabled]="isDisabled">
        </app-theme>
        <app-theme-add *ngIf="!isDisabled"></app-theme-add>

    </div>

    <app-theme-edit></app-theme-edit>
    <app-theme-delete (deleteTheme)="deleteTheme()"></app-theme-delete>
</div>