<app-navbar></app-navbar>
<app-title></app-title>
<div class="content-theme">
    <app-theme *ngFor="let theme of themeList" [theme]="theme" (themeSelected)="themeSelected($event)"
        (editTheme)="editTheme($event)" (themeToDelete)="addThemeToDelete($event)">
    </app-theme>
    <app-theme-add *ngIf="!isDisabled"></app-theme-add>

</div>
<button class="switch-mode" (click)="isDisabled = !isDisabled">
    Mode Ergothérapeute {{ isDisabled ? 'Off' : 'On' }}
</button>
<app-theme-edit></app-theme-edit>
<app-theme-delete (deleteTheme)="deleteTheme()"></app-theme-delete>