<app-navbar></app-navbar>

<h4>Heureux de te revoir!</h4>

<div class="content-membre">
  <app-membre *ngFor="let membre of membreListe" [membre]="membre"></app-membre>

  <div class="add-card">
    <p>Ajouter un nouvel enfant</p> 
    <span class="material-icons add" id="myBtn" (click)="toggleForm()">add</span>
  </div>
<!-- 
    Bouton pour ajouter un personnage , je vais l'implémenter quand on aura un barre de recherche , c'est pour le cas ou 
    la page est trop chargée de cartes
  <div class="add-membre">
    <p>Ajouter un nouvel enfant</p> 
    <span class="material-icons add" id="myBtn" (click)="toggleForm()">add</span>
  </div>

-->

  <div id="myModal" class="modal" *ngIf="displayForm"> 
    <div class="modal-content">
      <span class="close material-icons" (click)="toggleForm()">close</span>

      <form id="addMemberForm"  *ngIf="displayForm"> 
        <div class="display-input">
          <label for="name">Nom:</label><br>
          <input type="text" id="name" name="name"><br>
        </div>
        <div class="display-input">
          <label for="surname">Prénom:</label><br>
          <input type="text" id="surname" name="surname"><br>
        </div>
        <div class="display-input">
          <label for="age">Age:</label><br>
          <input type="number" id="age" name="age"><br>
        </div>

        <div class="display-input">
          <label for="">Description:</label>
          <textarea name="description" id="description" cols="40" rows="5"></textarea>
        </div>
        <button type="submit">Ajouter</button>
      
  </form>
    </div>
  </div>

</div>

