<app-navbar></app-navbar>

<div class="content" [ngClass]="{'nav-visible': isNavVisible}">
  <app-title></app-title>
  <div class="search">
    <input type="text" placeholder="{{ search ? search : 'Rechercher dans les membres...' }}" (keyup)="onKey($event)">
    <button>
        <span class="material-icons">search</span>
        <p>Rechercher</p>
    </button>
  </div>

  <div class="content-membre">
    <app-membre *ngFor="let membre of membreListeDisplayed" [membre]="membre"></app-membre>

    <div class="add-card" *ngIf="!isDisabled">
      <p>Ajouter un nouvel enfant</p>
      <span class="material-icons add" id="myBtn" (click)="toggleForm()">add</span>
    </div>

    <div id="myModal" class="modal" *ngIf="displayForm">
      <div class="modal-content">
        <span class="close material-icons" (click)="toggleForm()">close</span>

        <form id="addMemberForm" *ngIf="displayForm" #form="ngForm" (ngSubmit)="submitForm(form)">
          <div class="display-input">
            <label for="name">Nom:</label><br>
            <input type="text" id="lastName" name="lastName" ngModel required><br>
          </div>
          <div class="display-input">
            <label for="surname">Prénom:</label><br>
            <input type="text" id="firstName" name="firstName" ngModel required><br>
          </div>
          <div class="display-input">
            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" ngModel required><br>
          </div>

          <div class="display-input">
            <label for="">Description:</label>
            <textarea name="description" id="description" cols="40" rows="5" ngModel required></textarea>
          </div>

          <div class="display-input">
            <label for="image">Photo:</label><br>
            <input type="file" id="image" name="image"><br>
          </div>
          <button type="submit">Ajouter</button>

        </form>
      </div>

    </div>

  </div>

  <button  class="switch-mode" (click)="toggleMode()">
    Mode Ergothérapeute : {{ isDisabled ? 'Off' : 'On' }}
  </button>


  <button class="boutton" (click)="playSound()">Jouer le son</button>


</div>