<app-navbar></app-navbar>

<div class="content" [ngClass]="{'nav-visible': isNavVisible}">
  <app-title></app-title>
  <div class="search">
    <input type="text" placeholder="{{ search ? search : 'Rechercher dans les membres...' }}" (keyup)="onKey($event)">
    <button>
      <span class="material-icons">search</span>
      <p>Rechercher</p>
    </button>
  </div>

  <div class="content-membre">
    <app-membre *ngFor="let membre of membreListeDisplayed" [membre]="membre"></app-membre>

    <div class="add-card" *ngIf="!isDisabled">
      <p>Ajouter un nouvel enfant</p>
      <span class="material-icons add" id="myBtn" (click)="toggleForm()">add</span>
    </div>
    
<div id="myModal" class="modal" *ngIf="displayForm">
  <div class="modal-content">
    <span class="close material-icons" (click)="toggleForm()">close</span>
    
    <form id="addMemberForm" #form="ngForm" (ngSubmit)="submitForm(form)">
      <div class="display-input">
        <label for="name">Nom:</label>
        <input type="text" id="lastName" name="lastName" ngModel required>
        <div *ngIf="form.submitted && !form.controls['lastName']?.valid" class="error-message">
          Le nom est requis.
        </div>
      </div>
      <div class="display-input">
        <label for="surname">Prénom:</label>
        <input type="text" id="firstName" name="firstName" ngModel required>
        <div *ngIf="form.submitted && !form.controls['firstName']?.valid" class="error-message">
          Le prénom est requis.
        </div>
      </div>
      <div class="display-input">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" ngModel required>
        <div *ngIf="form.submitted && !form.controls['age']?.valid" class="error-message">
          L'âge est requis.
        </div>
      </div>
      <div class="display-input">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="40" rows="5" ngModel required></textarea>
        <div *ngIf="form.submitted && !form.controls['description']?.valid" class="error-message">
          La description est requise.
        </div>
      </div>
      <div class="display-input">
        <label for="image">Photo:</label>
        <input type="text" id="image" name="image" ngModel>
      </div>
      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>
