<app-navbar></app-navbar>

<div class="content" [ngClass]="{'nav-visible': isNavVisible}">
  <app-title></app-title>


  <div class="content-quiz">
    <app-quiz *ngFor="let quiz of quizList" [quiz]="quiz" (quizSelected)="quizSelected($event)"
      (editQuiz)="editQuiz($event)" (quizToDelete)="addQuizToDelete($event)" [isDisabled]="isDisabled">
    </app-quiz>

    <app-quiz-add *ngIf="!isDisabled"></app-quiz-add>
  </div>

  <app-quiz-edit></app-quiz-edit>
  <app-quiz-delete (deleteQuiz)="deleteQuiz()"></app-quiz-delete>

</div>