<app-navbar></app-navbar>

<div class="content" [ngClass]="{'nav-visible': isNavVisible}">
  <app-title></app-title>

  <div class="select-container">

    <select id="quizTheme" name="quizTheme" >
      <option value="" disabled selected hidden>Trier les quiz par thème</option>
      <option value="none">Tous les thèmes</option>
      <option *ngFor="let theme of themeList" [ngValue]="theme">{{theme.name}}</option>
    </select>
  </div>

  <div class="search">
    <input type="text" placeholder="{{ search ? search : 'Rechercher dans les quiz...' }}" (keyup)="onKey($event)">
    <button>
      <span class="material-icons">search</span>
      <p>Rechercher</p>
    </button>
  </div>

  <div class="content-quiz">
    <app-quiz *ngFor="let quiz of quizListDisplayed" [quiz]="quiz" (quizSelected)="quizSelected($event)"
      (editQuiz)="editQuiz($event)" (quizToDelete)="addQuizToDelete($event)" [isDisabled]="isDisabled">

    </app-quiz>

    <app-quiz-add ></app-quiz-add>
  </div>

  <app-quiz-edit *ngIf="quizToEdit" [quiz]="quizToEdit"></app-quiz-edit>
  <app-quiz-delete (deleteQuiz)="deleteQuiz()"></app-quiz-delete>

</div>