<app-navbar></app-navbar>
<app-title></app-title>
<div class="search">
  <input type="text" placeholder="{{ search ? search : 'Rechercher dans les quiz...' }}" (keyup)="onKey($event)">
  <button>
      <span class="material-icons">search</span>
      <p>Rechercher</p>
  </button>
</div>
<div class="content-quiz">
  <app-quiz *ngFor="let quiz of quizListDisplayed" [quiz]="quiz" (quizSelected)="quizSelected($event)"
    (editQuiz)="editQuiz($event)"  (quizToDelete)="addQuizToDelete($event)"  >
  </app-quiz>

  <app-quiz-add *ngIf="!isDisabled"></app-quiz-add>
</div>

<button class="switch-mode" (click)="isDisabled = !isDisabled">
  Mode Ergothérapeute {{ isDisabled ? 'Off' : 'On' }}
</button>
<app-quiz-edit></app-quiz-edit>
<app-quiz-delete (deleteQuiz)="deleteQuiz()" ></app-quiz-delete>