<app-navbar></app-navbar>
<div class="content-question">

  
  <ng-container *ngIf="questionList.length > 0 && currentQuestionIndex < questionList.length">

    <app-drag-drop *ngIf="questionList[currentQuestionIndex]?.typeOfQuestion === 'drag-and-drop'"
      [drag]="questionList[currentQuestionIndex]">
    </app-drag-drop>

    <app-multi-choice *ngIf="questionList[currentQuestionIndex]?.typeOfQuestion !== 'drag-and-drop' && questionList[currentQuestionIndex]?.typeOfQuestion !== 'guess-the-sound'"
      [multi]="questionList[currentQuestionIndex]">
    </app-multi-choice>

    <app-sound-question *ngIf="questionList[currentQuestionIndex]?.typeOfQuestion !== 'drag-and-drop' && questionList[currentQuestionIndex]?.typeOfQuestion === 'guess-the-sound'"
      [sound]="questionList[currentQuestionIndex]">
    </app-sound-question>
    
  </ng-container>

  <div class="progress-container">
    <progress [value]="currentQuestionIndex+1" [max]="questionList.length"></progress>
  </div>


  

  <div class="quiz_setting">
    <!--
      <div>
      <span class="material-symbols-outlined toggle toggle_on">toggle_on</span>
      <span class="material-symbols-outlined toggle toggle_off">toggle_off</span>
      <p>indice</p>

    </div>
    -->
    
    <div>
      <span class="material-symbols-outlined volume volume_up">volume_up</span>
      <span class="material-symbols-outlined volume volume_off">volume_off</span>
      <p>son</p>
    </div>
  </div>

</div>

<div class="quiz-btn">
  <button class="precedent" (click)="previousQuestion()">Precedent</button>
  <button type="submit" class="suivant" (click)="nextQuestion()">Suivant</button>
</div>