<div class="theme-card" *ngIf="theme">
    <div class="theme-card-header">
        <img src="{{ theme.image }}" alt="animaux">
        <p>{{ theme.name }}</p>
    </div>
    <div class="theme-card-footer">
        <p>{{ theme.description }}</p>
        <p>{{ theme.quizzes.length }}</p>
    </div>
    <div class="theme-card-button">
        <button (click)="selectTheme()">Select </button>
        <button (click)="displayModalUpdate()" *ngIf="!isDisabled">Edit</button>
        <button (click)="displayModalDelete()" *ngIf="!isDisabled">Delete</button>
    </div>
    
</div>

