.content {
  width: 100%;
  height: 100%;
  transition: margin-left .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

.nav-visible {
  margin-left: 200px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-top: 2px;
  margin-left: 15px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 5px;
  bottom:  3px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}



input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.music-switch .slider {
  background-color: #ccc; 
}

.music-switch input:checked + .slider {
  background-color: #5cb85c; 
}


.toggle-container {
  margin-left: 210px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left:510px; 
  
}

.dropdown-container-theme, .checkbox-container-theme, .checkbox-container-question {
  margin: 2px auto;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.dropdown-container-theme h2, .checkbox-container-theme h2, .checkbox-container-question h2 {
  font-size: 24px;
  margin-bottom: 1px;
  color: #333;
  border-bottom: 2px solid #FAA300;
  padding-bottom: 4px;
}

.checkbox-container-theme label, .checkbox-container-question label {
  display: block;
  margin-bottom: 10px; /* Increase margin for better spacing */
  font-size: 18px
}

.color-option {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}


.dropdown {
  cursor: pointer;
  position: absolute;
  align-items: center;
  top: 0;
  left: 65%;
  transform: translateX(20%);
  margin-top: 220px;
  display: flex;
  flex-direction: row;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 5 auto;
}

.title {
  color: #FAA300;
  font-size: 30px;
  font-family: "Finger Paint", sans-serif;
}

.title2 {
  color: #FAA300;
  font-size: 33px;
  font-family: "Finger Paint", sans-serif;
}

.checkbox-container-theme {
  max-height: 200px;
  padding: 20px;
  border: 2px solid #FAA300;
  font-family: "Finger Paint", sans-serif;
  border-radius: 5px;
  font-size: 16px;
  background-color: #59D5E0;
  cursor: pointer;
  overflow-y: auto;
}

.checkbox-container-question {
  padding: 20px;
  border: 2px solid #FAA300;
  font-family: "Finger Paint", sans-serif;
  border-radius: 5px;
  font-size: 16px;
  background-color: #59D5E0;
  cursor: pointer;
}

.Configuration {
  width: 100%;
}

.Configuration h1 {
  margin-left: 210px;
}