<div class="quiz-card" *ngIf = "quiz">
    <div class="quiz-card-header">
        <img src="{{ quiz.image }}" alt="animaux">
        <p>{{ quiz.name }}</p>
    </div>
    <div class="quiz-card-footer">
        <p>{{ quiz.description }}</p>
    </div>
    <div class="quiz-card-button">
        <a routerLink="/niveau/{{ memberId }}/{{ quiz.id }}"><button (click)="selectQuiz()">Choisir</button></a>
        <button (click)="displayModalUpdate()" *ngIf="!isDisabled">Modifier</button>
        <button (click)="displayModalDelete()" *ngIf="!isDisabled">Supprimer</button>
    </div>
</div>