<div class="quiz-card" *ngIf = "quiz">
    <div (click)="selectQuiz()">
        <div class="quiz-card-header">
            <img src="{{ quiz.image }}" alt="No image given">
            <p>{{ quiz.name }}</p>
        </div>
        <div class="quiz-card-footer">
            <p>{{ quiz.description }}</p>
        </div>
    </div>
    <div class="quiz-card-button">
        <button (click)="displayModalUpdate()" *ngIf="!isDisabled">Modifier</button>
        <button (click)="displayModalDelete()" *ngIf="!isDisabled">Supprimer</button>
    </div>
</div>