<app-navbar></app-navbar>
<div>
  <div class="title">
      <h1> Niveau </h1>
      <img src="assets/img/emoji.png" alt="emoji">
  </div>
</div>

  <div class="content-niveau">
    <app-niveau-card niveauName="Facile" (niveauSelected)="filterQuestionsByLevel($event)"></app-niveau-card>
    <app-niveau-card niveauName="Moyen" (niveauSelected)="filterQuestionsByLevel($event)"></app-niveau-card>
    <app-niveau-card niveauName="Difficile" (niveauSelected)="filterQuestionsByLevel($event)"></app-niveau-card>
  </div>