<app-navbar></app-navbar>
<div class="content" [ngClass]="{'nav-visible': isNavVisible}">

  <div>
    <div class="title">
      <h1> Niveau </h1>
      <img src="assets/img/emoji.png" alt="emoji">
    </div>
  </div>

  <div class="content-niveau">
    <app-niveau-card niveauName="Facile" [questions]="questionList"></app-niveau-card>
    <app-niveau-card niveauName="Moyen" [questions]="questionList"></app-niveau-card>
    <app-niveau-card niveauName="Difficile" [questions]="questionList"></app-niveau-card>
  </div>

</div>