.content-niveau {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
    margin-top: -60px;
  }

.niveau-text{
    font-weight: bold;
    margin-top: 20%;
}

.content-niveau a{
    text-decoration: none;
    color: #000;
}