.navbar{
    height: 100px;
    background-color: #59D5E0;
    display: flex;
    align-items: center;
    z-index: 1;
    border-bottom: 2px solid #FAA300;
}

.navbar .material-icons{
    color: white;
    font-size: 40px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    z-index: 3;
    cursor: pointer;
}

.navbar .material-icons:hover {
    transform: scale(1.1); 
}

.navbar div{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 40%;
    margin-bottom:5px;
}

.navbar img{
    margin-top: 10px;
    width: 250px;
    height: 200px;
}


.nav-vertical {
    height: 100%; 
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #59D5E0;
    transition: width 0.3s ease;
    overflow: auto;
    padding-top: 100px;
    border-bottom: 2px solid #FAA300;
    margin-bottom: 10px;
   
}

.nav-vertical a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    font-family: "Finger Paint", sans-serif;
    margin-bottom: 10px;
}



.nav-vertical a:hover {
    color: #f1f1f1;
}

.nav-vertical.visible {
    width: 200px; 
}


