<div class="add-card">
    <p>Ajouter un nouveau theme</p>
    <span class="material-icons add" id="myBtn" (click)="displayModal()">add</span>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close material-icons" (click)="closeModal()">close</span>
        <form id="addMemberForm" #form="ngForm" (ngSubmit)="submitForm(form)">
            <div class="display-input">
                <label for="themeTitle">* Titre du theme:</label><br>
                <input type="text" id="themeTitle" name="themeTitle" ngModel required><br>
            </div>
            <div class="display-input">
                <label for="themeDescription">* Description:</label><br>
                <textarea id="themeDescription" name="themeDescription" rows="5" ngModel required></textarea><br>
            </div>
            <div class="display-input">
                <label for="image">Image :</label>
                <input #inputField type="file" (change)="valueChanged($any($event.target).files)" ngModel/>
                <div (click)="inputField.click()">
                    <ng-content />
                </div>
            </div>
            <button [disabled]="form.invalid" type="submit" >Créer le theme</button>
        </form>
    </div>
</div>

