<div class="card" *ngIf="membre">
  <div (click)="onSelectMember(membre.id)">
    <div class="card-header">
      <img [src]="membre.image ? membre.image : 'assets/img/no-photo.png'" alt="Member Image">
      <div>
        <p>Nom : {{membre.lastName}}</p>
        <p>Prénom : {{membre.firstName}}</p>
        <p>Âge : {{membre.age}} ans</p>
      </div>
    </div>
    <div class="card-footer">
      <p>{{membre.description}}</p>
    </div>
  </div>
  <div class="membre-card-button">
    <button (click)="onDeleteMembre()" *ngIf="!isDisabled">Supprimer</button>
  </div>
</div>