.card{
    width: 270px;
    height: auto;
    border: 5px solid #FAA300;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateX(-5px) translateY(-5px); 
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #FAA300;
    height: auto;;
    font-family: "Finger Paint", sans-serif;
}

.card-header img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
    width: 100px;
    border-radius: 30%;
    object-fit: cover;
}

.card-footer{
    text-align: center;
    font-family: "Finger Paint", sans-serif;
}

.membre-card-button{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}



.membre-card-button button {
    border: 1px solid #6ecbd2;
    border-radius: 10px;
    background-color: #6ecbd2;
    color: black;
    padding: 10px;
    font-size: 14px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    font-family: "Finger Paint", sans-serif;
}


