.card{
    width: 270px;
    height: auto;
    border: 5px solid #FAA300;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateX(-5px) translateY(-5px); 
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #FAA300;
    height: auto;;
    font-family: "Finger Paint", sans-serif;
}

.card-header img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100px;
    width: 100px;
    border-radius: 30%;
    object-fit: cover;
}

.card-footer{
    text-align: center;
    font-family: "Finger Paint", sans-serif;
}

.membre-card-button{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}



.membre-card-button button {
    border: 1px solid #6ecbd2;
    border-radius: 10px;
    background-color: #6ecbd2;
    color: black;
    padding: 10px;
    font-size: 14px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    font-family: "Finger Paint", sans-serif;
}


.modal_delete {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content-suppression {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 50%;
    align-items: center;
  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .delete-btn{
    display: flex;
    justify-content: space-between;
  }
  
  .btnValid {
    border: 1px solid rgb(99, 185, 99);
    border-radius: 10px;
    background-color: rgb(99, 185, 99);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .btnCancel {
    border: 1px solid rgb(99, 185, 99);
    border-radius: 10px;
    background-color: rgb(219, 110, 110);
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }